extends layouts/main_layout.pug 

block content 
    form(action="/product" method="post")
        p productname
            input.inputs(type="text" name="title")
        p volume
            input.inputs(type="text" name="volume")
        button(id="inputs_btn" type="submit") send
        