<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add products</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
    <header class="main-header">
        <nav class="main-header_nav">
            <ul class="main-header_ul">
                <li class="main-header_li"><a href="/">shop</a></li>
                <li class="main-header_li"><a href="/add-product">add-products</a></li>
                <li class="main-header_li"><a class="active" href="/contactus">contact us</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h2 styel="align-items-center">Contact US</h2>
        <form action="/success" method="post">
            Name<input class="inputs" type="text" name="name"><br>
            Email<input class="inputs" type="text" name="email">
            <button id="inputs_btn" type="submit">send</button>
        </form>
    </main>

    <footer hidden>
        SHARPENER
    </footer>
</body>
</html>