doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title shop 
        link(rel="stylesheet", href="/main.css")
    body 
        header.main-header 
            nav.main-header_nav 
                ul.main-header_ul  
                    li.main-headerr_li 
                        a.ative(href="/") shop 
                    li.main-header_li 
                        a(href="/add-product") add-product
                    li.main-header_li   
                        a(href="/contactus") contact

        main 
            p hello  
        
