</head>
<body>
    <header class="main-header">
        <nav class="main-header_nav">
            <ul class="main-header_ul">
                <li class="main-header_li" id="list1"><a href="/">shop</a></li>
                <li class="main-header_li" id="list2"><a href="/add-product">add-products</a></li>
                <li class="main-header_li"><a href="/contactus">contact us</a></li>
            
            </ul>
        </nav>
    </header>