doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{docTitle}
        link(rel="stylesheet", href="/main.css")
        block style 
    body 
        header.main-header 
            nav.main-header_nav 
                ul.main-header_ul  
                    li.main-header_li 
                        a(href="/",class=(path==='/' ? 'active' : '')) shop 
                    li.main-header_li 
                        a(href="/add-product",class=(path==='/add-product' ? 'active':'')) add-product
                    li.main-header_li   
                        a(href="/contactus",class=(path==='/contactus' ? 'active':'')) contact

        main 
            block content
        
