
body{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
main{
    margin: 1rem 2rem ;
}
.main-header{
    width: 100%;    
    height: 3.5rem;
    background-color: #f7d934;
}
.main-header_nav{
    height: 100%;
    align-items: center;
    display: flex;
    padding: 0 1.5rem;
}
.main-header_ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;  /* concate the items */
}
.main-header_li{
    margin: 0 1rem;
    padding: 0;
}
.main-header_li a{
    text-decoration: none;
    color: #df1885;
}
.main-header_li a:hover,
.main-header_li a:active,
.main-header_li a.active{
    color: #0b22ee;
}
#inputs_btn{
    color: rgb(218, 25, 25);
    margin: 0 1.5rem;
}   
.inputs{
    margin: 0.2rem 1.5rem;
    padding: 0;
}

