
.product-container{
    border: 2px solid blue;
    margin: 0 30%;   
    padding: 1rem 2rem;
    width: 30%;
}

.image{ 
    width: auto;
    position: relative;
    left: 1%;
    margin: 0.5rem 0rem;
}
img{
    max-width: 100%;
    height: auto;
}
.details{
    display: flex;
    margin: 0 8%;
}
.product_name{
    padding: 0;
    position: relative;
    left: 10%;
    margin: 0%;
}
.product_vol{
    padding: 0;
    position: relative;
    left: 55%;
    margin: 0;
}
.add_btn{
    position: relative;
    left: 44%;
    text-align: center;
}
.cost{
    position: relative;
    left: 45%;
    margin-bottom: 1rem;
    margin-top: 0.3rem;
}